@font-face {
  font-family: "Inter";
  src: url("./InterDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  src: url("./InterDisplay-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("./InterDisplay-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
